<div class="container-fluid scrollable" style="background-color: white;">
    <div ui-content-for="title">
        <span>Add Gas Stop</span>
    </div>

    <div class="scrollable-content">
        <div class="row">
            <div class="col-sm-12">
                <span class="error">{{ error }}</span>
            </div>
        </div>
        <form >
            <div class="form-group">
                <label>Select a Vehicle: </label>
                <select class="form-control" ng-model="gasStop.vehicle" ng-options="item.vid as item.model for item in vehicles"></select>
            </div>
            <div class="form-group">
                <label>Odometer: </label>
                <input class="form-control" type="text" ng-model="gasStop.odometer" placeholder="55000"/>
            </div>
            <div class="form-group">
                <label>Gallons: </label>
                <input class="form-control" type="text" ng-model="gasStop.gallonsPurchased" placeholder="12.250" />
            </div>
            <div class="form-group">
                <label>Price: </label>
                <input class="form-control" type="text" ng-model="gasStop.pricePaid" placeholder="$25.00"/></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary form-control" value="Add Gas Stop" ng-click="submit()"/>
            </div>

        </form>
    </div>
</div>